{% extends "base.html" %}
{% block content%}
   <h1> Home Page!</h1>

   <!--Login Button-->
   <div class="container">
    <div class="row">
      <div class="col-md-4">  
        <div class="card">  
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            <p class="card-text">Login to your account</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            <a href="{% url'register' %}" class="btn btn-primary">Register</a>
            <a href="{% url 'admin:blog_post_add' %}" class="btn btn-primary">Add Blog Post</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!--End Login Button-->
          

{% endblock content%}